.card {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  outline: 2px var(--color-mid-pink) solid;
  border-radius: 1em;
  padding: 1em;
  box-shadow: var(--shadow-md);
}

.button-box {
  display: flex;
  gap: 10px;
  padding: var(--spacing-sm);
}

.delete-btn {
  background-color: var(--color-gray);
  color: var(--color-dark-pink);
}

.completed-symbol {
  padding: 0 5px;
}
