/* Container for the form */
.todo-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
  padding: var(--spacing-lg);
  background-color: var(--color-light-pink);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-sm);
  width: 100%;
  max-width: 500px;
  margin: 0 auto; /* Center the form */
  font-family: "Bitter", serif;
}

/* Title */
.todo-form-title {
  font-size: var(--font-size-lg);
  color: var(--color-dark-pink);
  margin-bottom: var(--spacing-md);
}

/* Form */
.todo-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  width: 100%;
}

/* Form group */
.form-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--spacing-sm);
}

.form-group > label {
  width: 60px;
  padding-top: 8px;
  font-weight: 600;
}

/* Input fields */
.form-input,
.form-textarea {
  padding: var(--spacing-sm);
  font-size: var(--font-size-md);
  border: 1px solid var(--color-gray-dark);
  border-radius: var(--border-radius-sm);
  background-color: var(--color-white);
  color: var(--color-dark);
  width: 100%;
  box-shadow: var(--shadow-sm);
  font-family: "Bitter", serif;
}

.form-input:focus,
.form-textarea:focus {
  outline: none;
  border-color: var(--color-dark-pink);
  box-shadow: var(--shadow-md);
}

/* Textarea */
.form-textarea {
  resize: vertical;
  min-height: 80px;
}

/* Checkbox */
.form-checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* Submit button */
.form-submit-btn {
  padding: var(--spacing-sm) var(--spacing-lg);
  font-family: "Bitter", serif;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  background-color: var(--color-dark-pink);
  color: var(--color-white);
  border: none;
  border-radius: var(--border-radius-md);
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.form-submit-btn:hover {
  background-color: var(--color-secondary);
  box-shadow: var(--shadow-md);
}
.checkbox > label {
  width: fit-content;
  padding-top: none;
}
.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
}
.form-checkbox {
  margin-top: 8px;
}
