.todo-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--spacing-md);
  padding: var(--spacing-lg);
  background-color: var(--color-light-pink);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-sm);
  width: 100%;
  max-width: 500px;
  margin: 0 auto; /* Center the form */
  font-family: "Bitter", serif;
}

.detail-label {
  font-weight: 600;
  font-size: var(--font-size-md);
  margin-bottom: var(--spacing-sm);
}

.task-header p {
  color: var(--color-dark-pink);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}
